__pycache__/

.env
.vscode/

logs/FreelanceCrawler.log
logs/crawler.log
logs/geckodriver.log
logs/selenium_crawlers.log
geckodriver.log
.pytest_cache/
*.out
data/
archive/
drafts/
venv/
.DS_Store

*.parquet
*.bin
*.pkl
/.cfg
__pycache__/
utils/__pycache__
*.json
~/.aws
archive
tools
embeddings/
