__pycache__/

.env
.vscode/

logs/
geckodriver.log
.pytest_cache/
*.out
archive/
drafts/
venv/
.DS_Store

*.parquet
*.bin
*.pkl
data/
download/:
/.cfg
__pycache__/
utils/__pycache__
*.json
~/.aws
archive
tools
*.csv